[is='flynt-block-wysiwyg'] {
  margin-bottom: $spacing-component/2;
  
  .container {
    grid-column-end: 13;
    grid-column-start: 1;

    @media (max-width: $breakpoint-tablet-horizontal) {
      grid-column-end: 13;
      grid-column-start: 1;
    }
  }

  .content {
    @include reset-content-margins;
    color: $white;
    column-gap: $gap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: inherit;

    @media (max-width: $breakpoint-tablet-horizontal) {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 1fr;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
