[is='flynt-archive-maps'] {
  background-color: $black;
  min-height: 100%;
  padding: 0 !important;

  .container {
    grid-column-end: 13;
    grid-column-start: 1;
    min-height: 100%;
  }

  .content {
    &-map {
      height: 100%;
      min-height: 100%;
      width: 100%;
    }
  }

  // .gmnoprint {
  //   display: none !important;
  // }
}
