[is='flynt-grid-posts-events-past'] {
  text-transform: uppercase;
  
  .container {
    grid-column-end: 13;
    grid-column-start: 1;
  }

  .preContent {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .grid {
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .grid-item {
    border-top: 1px solid $white;
    width: 100%;

    @media (max-width: $breakpoint-tablet-horizontal) {
      margin-top: $gap;
    }

    &:last-child {
      border-bottom: 1px solid $white;
    }
  }

  .contentHeader {
    align-items: center;
    column-gap: $gap;
    display: grid;
    grid-template-columns: 49.5% 2fr 2fr 2fr;
    letter-spacing: 0.03rem;
    margin-bottom: $spacing-small;

    @media (max-width: $breakpoint-tablet-horizontal) {
      display: none;
    }
  }

  .content {
    @include reset-content-margins;
    align-items: center;
    column-gap: $gap;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 49.5% 2fr 2fr 2fr;
    height: 100%;

    @media (max-width: $breakpoint-tablet-horizontal) {
      grid-template-columns: 100%;
    }

    &-link {
      @media (max-width: $breakpoint-tablet-horizontal) {
        padding: $spacing-small;
      }
    }

    &-date,
    &-where,
    &-what {
      font-size: 1rem;
      letter-spacing: 0.03rem;
    }

    div {
      padding: $spacing-small 0 !important;

      @media (max-width: $breakpoint-tablet-horizontal) {
        padding: 0 0 $spacing-small/2 0 !important;

        &:not(:first-child) {
          text-align: right;
        }
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }
  }

  .allPostsLink {
    text-align: center;

    .button--link {
      color: var(--blue);
      font-weight: 400;

      &::before {
        background-color: var(--blue);
      }

      // &::after {
      //   content: ">";
      //   margin-left: 10px;
      // }
    }
  }
}
