[is='flynt-slider-text'] {
  .container {
    grid-column-end: 13;
    grid-column-start: 1;
  }

  .slider {
    max-width: 100%;
    position: relative;

    &-item {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      height: 70vh;
      justify-content: center;
      overflow: hidden;
      // padding-bottom: (2/3) * 100%;
      // padding-bottom: 40%;
      position: relative;

      @media (max-width: $breakpoint-mobile-horizontal) {
        height: 30vh;
      }

      &--inner {
        margin: 0;
        padding: 0 20%;
        text-align: center;

        @media (max-width: $breakpoint-mobile-horizontal) {
          padding: 0 10%;
        }

        p {
          font-family: 'Octin College Book', Helvetica, Arial, sans-serif;
          font-size: 4.063rem;
          letter-spacing: -0.01rem;
          line-height: 4.263rem;
          margin-bottom: 0;
          margin-top: 0;
    
          @media (max-width: $breakpoint-mobile-horizontal) {
            font-size: 2rem;
            line-height: 2.8rem;
          }
        }
    
        em {
          font-family: 'Octin Spraypaint', Helvetica, Arial, sans-serif;
          font-style: normal;
        }
      }
    }

    &-button {
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s ease-out;
      width: 40px;
      z-index: 10;

      @media (min-width: $breakpoint-tablet-horizontal) {
        &:hover,
        &:focus {
          border: 1px solid $white;
        }
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }

      .feather {
        color: $color-contrast;
        height: auto;
        top: 0;
        width: 80%;
      }
    }
  }

  .figure {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: relative;
    right: 0;
    top: 0;

    &-image {
      height: auto;
      margin: 0 auto;
      width: auto;
    }

    &-caption {
      color: $color-text;
      display: inline-block;
      font-size: 0.8rem;
      left: 0;
      max-width: 450px;
      padding: 0.25rem 0;
      position: relative;
      text-transform: uppercase;
      top: 0;
    }
  }
}
