[is='flynt-block-cta'] {
  margin-bottom: $spacing-component/2;
  
  .container {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    grid-column-end: 10;
    grid-column-start: 4;

    @media (max-width: $breakpoint-tablet-horizontal) {
      grid-column-end: 13;
      grid-column-start: 1;
    }
  }

  .content {
    @include reset-content-margins;
    text-align: center;
    text-transform: uppercase;

    p {
      font-family: 'Octin College', Helvetica, Arial, sans-serif;
      font-size: 4.063rem;
      letter-spacing: -0.01rem;
      line-height: 4.263rem;
      margin-bottom: 4.263rem;
      margin-top: 0;

      @media (min-width: $breakpoint-mobile-horizontal) {
        font-size: 4.063rem;
      }
    }

    em {
      font-family: 'Octin Spraypaint', Helvetica, Arial, sans-serif;
      font-style: normal;
    }
  }

  .cta-link {
    border-top: 1px solid $white;
    font-family: 'Octin College', Helvetica, Arial, sans-serif;
    letter-spacing: 0.03rem;
    margin-top: $spacing-component;
    padding: $spacing-small $spacing-large 0 $spacing-large;
  }
}
