<div class="flyntComponent fullWidthContainer" id="{{ preContentHtml|lower|replace({' ': ''})}}" is="flynt-block-soundcloud-oembed">
  <div class="container">
    {# {{ soundcloudOembed }} #}
    {{ soundcloudOembedText }}
  </div>
</div>
