[is='flynt-grid-posts-events-upcoming'] {
  background-color: $purple;
  padding: $spacing-large 0 !important;
  text-transform: uppercase;

  .container {
    grid-column-end: 13;
    grid-column-start: 1;
    padding-top: 20px;
  }
  
  .preContent {
    margin-bottom: $spacing-large;
    padding: 0 $spacing-small;
    text-transform: uppercase;
  }

  .grid {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &-item {
      margin-bottom: $gap;
      margin-top: $gap;
      width: 100%;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .content {
    column-gap: $gap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 $spacing-small;
    width: 100%;

    @media (max-width: $breakpoint-mobile-horizontal) {
      display: flex;
      flex-flow: column wrap;
    }

    &-image {
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
      grid-column-end: 2;
      grid-column-start: 1;
    }

    &-inner {
      @include reset-content-margins;
      align-items: flex-start;
      display: flex;
      flex-flow: column;
      grid-column-end: 3;
      grid-column-start: 2;
      justify-content: space-between;

      &--bottom {
        display: flex;
        flex-flow: row wrap;
        font-family: 'Octin College Regular', Helvetica, Arial, sans-serif;
        letter-spacing: 0.03rem;

        .left {
          display: flex;
          flex-flow: column wrap;

          span {
            border-bottom: 1px solid $white;
            line-height: 1;
            padding-bottom: $gap/2;
            padding-top: $gap/2;
          }
        }

        .right {
          display: flex;
          flex-flow: column wrap;

          div {
            border-bottom: 1px solid $white;
            line-height: 1;
            padding-bottom: $gap/2;
            padding-left: $spacing-large*2;
            padding-top: $gap/2;
          }
        }
      }

      #{$heading-selectors} {
        color: $color-headline;
      }

      @media (max-width: $breakpoint-mobile-horizontal) {
        padding-left: 0;
        padding-top: 23px;
      }
    }

    &-date {
      margin-bottom: 0;
    }

    &-title {
      padding-top: 0;
    }

    &-excerpt {
      padding-top: 1em;
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }
  }

  .allPostsLink {
    padding: 0 $spacing-small;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: $breakpoint-mobile-horizontal) {
      margin-top: $spacing-component/2;
    }

    .link {
      text-decoration: none;
    }
  }

  hr {
    &:last-child {
      display: none;
    }
  }
}
