[is='flynt-grid-projects-latest'] {
  .container {
    grid-column-end: 13;
    grid-column-start: 1;
  }

  .grid {
    @include reset-list;
    column-gap: $gap;
    display: grid;
    flex-wrap: wrap;
    grid-auto-rows: auto;
    grid-column-end: 13;
    grid-column-start: 1;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    row-gap: $spacing-large*2;

    @media (max-width: $breakpoint-tablet-horizontal) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .grid-item {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    &-image {
      background: $color-contrast;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
    }

    &-inner {
      @include reset-content-margins;
      border: 1px solid $white;
      flex-grow: 1;
      padding: $spacing-small 0;
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }

    &-title {
      padding: 0 $spacing-small;
    }

    &-excerpt {
      border-top: 1px solid $white;
      padding: $spacing-small $spacing-small 0;
    }
  }

  .allPostsLink {
    margin-top: $spacing-component/2;
    text-align: left;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }
}
