[is='flynt-navigation-footer'] {
  background-color: $orange;
  font-family: 'Octin College', Helvetica, Arial, sans-serif;
  padding: $spacing-large $spacing-small;

  .container {
    align-items: flex-start;
    column-gap: $gap;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    row-gap: $gap*2;

    &-left {
      align-items: flex-start;
      display: grid;
      grid-column-end: 7;
      grid-column-start: 1;
      grid-template-columns: repeat(6, 1fr);

      @media (max-width: $breakpoint-tablet-horizontal) {
        grid-auto-rows: auto;
        grid-column-end: 13;
        grid-column-start: 1;
        row-gap: $gap*2;
      }

      .newsletter {
        grid-column-end: 4;
        grid-column-start: 1;
        margin: 0;

        @media (max-width: $breakpoint-tablet-horizontal) {
          grid-column-end: 7;
          grid-column-start: 1;
        }
      }

      .repeater {
        grid-column-end: 5;
        grid-column-start: 7;

        @media (max-width: $breakpoint-tablet-horizontal) {
          grid-column-end: 7;
          grid-column-start: 1;
        }

        &-title {
          color: $white;
        }
      }
    }

    &-right {
      align-items: flex-start;
      display: grid;
      grid-column-end: 13;
      grid-column-start: 7;
      grid-template-columns: repeat(6, 1fr);

      @media (max-width: $breakpoint-tablet-horizontal) {
        grid-column-end: 13;
        grid-column-start: 1;
      }

      .repeater {
        grid-column-end: 4;
        grid-column-start: 2;

        @media (max-width: $breakpoint-tablet-horizontal) {
          grid-column-end: 4;
          grid-column-start: 1;
        }

        &-title {
          color: $white;
        }
      }

      .navigation {
        grid-column-end: 7;
        grid-column-start: 5;
      }
    }
  }

  .content {
    @include reset-content-margins;
    color: $white;
    font-weight: 15px;
    margin: 10px 0 0;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet) {
      margin: 0;
    }
  }

  .repeater {
    &-title {
      margin-bottom: $spacing-small;
    }
  }

  .list {
    @include reset-list;
    display: flex;
    flex-flow: row;

    .panel {
      padding-right: 50px;
      
      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
          color: $white;
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }
  }

  @import 'Partials/menu';
  @import 'Partials/newsletter';
}
