[is='flynt-navigation-footer'] {
  background-color: $orange;
  font-family: 'Octin College Regular', Helvetica, Arial, sans-serif;

  .before {
    background-color: $black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 7.85vw;
  }
  
  .container {
    align-items: flex-start;
    column-gap: $gap;
    display: flex;
    flex-flow: row;
    padding: $spacing-large $spacing-small;

    @media (max-width: $breakpoint-tablet-horizontal) {
      flex-flow: row wrap;
    }

    .newsletter {
      margin-right: 8.33%;
      width: 25%;

      @media (max-width: $breakpoint-tablet-horizontal) {
        margin-bottom: $gap*2;
        width: 100%;
      }
    }

    .repeater {
      width: 25%;

      @media (max-width: $breakpoint-mobile-horizontal) {
        margin-bottom: $gap*2;
        margin-right: $gap;
        width: calc(50% - 32px);
      }

      &-right {
        margin-left: 8.33%;

        @media (max-width: $breakpoint-mobile-horizontal) {
          margin-left: 0;
        }
      }

      &-title {
        color: $white;
      }
    }

    .navigation {
      margin-left: 8.33%;
      width: 25%;

      @media (max-width: $breakpoint-tablet-horizontal) {
        margin-left: 0;
      }

      @media (max-width: $breakpoint-mobile-horizontal) {
        margin-left: 0;
        width: 100%;
      }
    }

    &-newsletter--show {
      .newsletter {
        display: block;
      }
    }
    
  
    &-newsletter--hide {
      .newsletter {
        display: none;
      }
    }
  }

  .content {
    @include reset-content-margins;
    color: $white;
    font-weight: 15px;
    margin: 10px 0 0;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet-horizontal) {
      margin: 0;
    }
  }

  .repeater {
    &-title {
      margin-bottom: $spacing-small;
    }
  }

  .list {
    @include reset-list;
    display: flex;
    flex-flow: row;

    .panel {
      padding-right: 50px;

      @media (max-width: $breakpoint-mobile-horizontal) {
        padding-right: $gap;
      }
      
      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
          color: $white;
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }
  }

  li {
    font-size: inherit;
    line-height: inherit;
  }

  
  // .container-newsletter--show {
  //   @media (max-width: $breakpoint-tablet-horizontal) {
  //     .repeater-left {
  //       margin-left: 0;
  //     }
  //   }
  // }

  // .container-newsletter--hide {
  //   @media (max-width: $breakpoint-tablet-horizontal) {
  //     .repeater-left {
  //       margin-left: 0;
  //     }
  //   }
  // }

  @import 'Partials/menu';
  @import 'Partials/newsletter';
}
