[is='flynt-block-video-oembed'] {
  @import 'Partials/video';

  .container {
    align-items: center;
    column-gap: $spacing-small;
    display: flex;
    grid-column-end: 13;
    grid-column-start: 4;
    margin: 0 auto;

    @media (max-width: $breakpoint-tablet-horizontal) {
      display: block;
    }
  }
  
  .figure-caption {
    grid-column-end: 13;
    grid-column-start: 4;
  }
}
