.mce-content-body {
  background-color: #fff;
}

#tinymce {
  h1,
  .h1 {
    font-family: 'Druk', Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
  }

  .h1Cta {
    font-family: 'Octin College Regular', Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
  }

  h2,
  .h2 {
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
  }
}
