/* Custom styling for single post project layouts */

.single-project {
  background-color: $grey;
  
  .post {
    column-gap: $gap;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;

    .flyntComponent {
      column-gap: $gap;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      padding: $spacing-large*6 $spacing-small;
      position: relative;

      @media (max-width: $breakpoint-tablet-horizontal) {
        padding: $spacing-large*2 $spacing-small;
      }
    }

    .heroVideo {
      grid-column-end: 13;
      grid-column-start: 1;

      @media (max-width: $breakpoint-tablet-horizontal) {
        // height: 70vh;
        margin-top: 130px;
      }
    }

    .heroImage {
      grid-column-end: 13;
      grid-column-start: 1;
      padding-top: 0;

      @media (max-width: $breakpoint-tablet-horizontal) {
        height: 100vh;
        margin-top: 130px;
      }
    }

    &-featuredImage {
      grid-column-end: 13;
      grid-column-start: 1;
      margin-bottom: 0 !important;
      max-height: 100vh;
      padding: 0;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  
    &-header {
      align-items: flex-start;
      color: $white;
      column-gap: $gap;
      display: grid;
      grid-column-end: 13;
      grid-column-start: 1;
      grid-template-columns: repeat(12, 1fr);
      margin-bottom: $spacing-large*6;
      margin-top: 160px;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: block;
        margin-bottom: $spacing-large*2;
        margin-top: $spacing-large*2;
        padding: $spacing-large $spacing-small;
      }

      .left {
        font-family: 'Octin College Regular', Helvetica, Arial, sans-serif;
        grid-column-end: 6;
        grid-column-start: 2;
        letter-spacing: 0.03rem;

        .title {
          font-family: 'Octin Spraypaint', Helvetica, Arial, sans-serif;
          text-transform: uppercase;
        }

        .meta {
          div {
            border-bottom: 1px solid $white;
            column-gap: $gap;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: $gap/2 0;
            row-gap: $gap;

            &:first-child {
              padding-top: 0;
            }
  
            span {
              text-transform: uppercase;
  
              &:first-child {
                grid-column-end: 3;
                grid-column-start: 1;
              }
  
              &:last-child {
                grid-column-end: 5;
                grid-column-start: 3;
              }
            }
          }
        }
      }

      .right {
        grid-column-end: 12;
        grid-column-start: 7;

        .intro {
          font-size: 1.375rem;
          line-height: 1.688rem;
          margin-top: 7.813rem;
        }
      }
    }
  
    &-main {
      grid-column-end: 13;
      grid-column-start: 1;

      .componentSpacing {
        margin-bottom: $spacing-component;
  
        @media (min-width: $breakpoint-tablet) {
          margin-bottom: $spacing-component;
        }
  
        @media (min-width: $breakpoint-desktop) {
          margin-bottom: $spacing-component;
        }
      }
  
      > .componentSpacing {
        // &:first-child {
        //   margin-top: $spacing-component;
        // }
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .figure-caption {
      color: $color-contrast !important;
    }
  }
}
