/* Custom styling for single space projects layouts */

.single-space {
  background-color: $black;
  color: $white;
  
  .post {
    column-gap: $gap;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;

    .flyntComponent {
      column-gap: $gap;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      padding: $spacing-large $spacing-small;
      position: relative;
    }

    &-map {
      grid-column-end: 13;
      grid-column-start: 1;
    }
  
    &-header {
      align-items: flex-start;
      display: grid;
      grid-column-end: 13;
      grid-column-start: 1;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 160px;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: block;
        padding: $spacing-large $spacing-small;
      } 

      .left {
        font-family: 'Octin College', Helvetica, Arial, sans-serif;
        grid-column-end: 4;
        grid-column-start: 2;
        letter-spacing: 0.03rem;

        .meta {
          div {
            border-bottom: 1px solid $white;
            column-gap: $gap;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: $gap/2 0;
            row-gap: $gap;

            &:first-child {
              padding-top: 0;
            }
  
            span {
              text-transform: uppercase;
  
              &:first-child {
                grid-column-end: 3;
                grid-column-start: 1;
              }
  
              &:last-child {
                grid-column-end: 5;
                grid-column-start: 3;
              }
            }
          }
        }
      }

      .right {
        grid-column-end: 12;
        grid-column-start: 7;

        .intro {
          font-size: 1.375rem;
          line-height: 1.688rem;
          margin-top: 7.813rem;
        }
      }
    }
  
    &-featuredImage {
      grid-column-end: 13;
      grid-column-start: 1;
    }
  
    &-main {
      grid-column-end: 13;
      grid-column-start: 1;

      .componentSpacing {
        margin-bottom: $spacing-component;
  
        @media (min-width: $breakpoint-tablet) {
          margin-bottom: $spacing-component;
        }
  
        @media (min-width: $breakpoint-desktop) {
          margin-bottom: $spacing-component;
        }
      }
    }
  }

  .slider-button .feather {
    color: $color-contrast !important;
  }

  .figure-caption {
    color: $color-contrast !important;
  }

  .acf-map {
    @media (max-width: $breakpoint-tablet-horizontal) {
      padding: 0;
      width: 100%;
    }
  }

  .acf-map {
    height: 100%;
    min-height: 100vh;
    width: 100%;
  }
}
