.themeGrey {
  background-color: $grey;

  &,
  #{$heading-selectors} {
    color: $color-background-light;
  }

  p {
    color: $color-background-light;
  }

  a {
    color: $color-background-light;
  }

  .button {
    &:hover,
    &:focus {
      background-color: $color-background-light;
      border-color: $color-background-light;
      color: $color-background-light;
    }

    &--ghost {
      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $color-background-hero;
        color: $color-background-hero;
      }
    }

    &--link {
      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-background-light;

        &::before {
          background-color: $color-background-light;
        }
      }

      &::after {
        $color-accent-rgb: red($color-accent), green($color-accent), blue($color-accent);
        $color-background-rgb: red($color-background), green($color-background), blue($color-background);

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.586 5L.293 8.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4A1 1 0 1 0 .293 1.707L3.586 5z' fill='rgb(#{$color-accent-rgb})'/%3E%3Cpath d='M13.586 5l-3.293 3.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L13.586 5z' fill='rgb(#{$color-background-rgb})'/%3E%3C/svg%3E");
      }
    }
  }

  .pill {
    background-color: $color-background-hero;
  }
}
