[is='flynt-hero-video'] {
  background-color: $orange;
  padding: 0 !important;

  .video {
    grid-column-end: 13;
    grid-column-start: 1;
    margin: 0;
    position: relative;

    .figure {
      display: block;
      margin-bottom: 0;
    
      &-image {
        &--isHidden {
          visibility: hidden;
        }
      }
    
    }
  
    &-player {
      height: 100%;
      overflow: hidden;
      z-index: -1;

      &--isLoading {
        background: rgba(0, 0, 0, 0.5);
        transition: all 1s linear;
      
        .figure {
          opacity: 1;
        }
      }

      &--isLoaded {
        background: rgba(0, 0, 0, 0.5);
        transition: all 1s linear;
    
        .figure {
          opacity: 0;
          transition: all 1s linear;
        }
      
        iframe {
          opacity: 1;
          transition: all 1s linear;
        }
      }
  
      iframe {
        box-sizing: border-box;
        height: 56.25vw;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        .vp-center {
          align-items: flex-start;
        }
      }
    }

    &-overlay {
      color: $orange;
      display: flex;
      flex-flow: column;
      height: 100%;
      justify-content: flex-end;
      left: 0;
      padding: $spacing-small;
      position: absolute;
      top: 0;
      width: 45%;
      z-index: 1;

      .page-link {
        text-decoration: none;
        text-transform: uppercase;
      }

      &--alignTop {
        justify-content: flex-start;
      }

      &--alignCenter {
        justify-content: center;
      }
  
      &--alignBottom {
        justify-content: flex-end;
      }
    }
  }
}
