<div class="flyntComponent componentSpacing {{ options.theme }}" id="{{ preContentHtml|lower|replace({' ': ''})}}" is="flynt-block-wysiwyg-two-col">
  <div class="container notFullWidth">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <div class="content centerContentMaxWidth">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</div>
