[is='flynt-block-page-intro'] {
  .container {
    grid-column-end: 8;
    grid-column-start: 4;

    @media (max-width: $breakpoint-tablet-horizontal) {
      grid-column-end: 13;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      grid-column-end: 13;
      grid-column-start: 1;
    }
  }

  .content {
    @include reset-content-margins;
    text-align: inherit;

    p {
      font-weight: 700;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
