[is='flynt-block-image-text'] {
  .container {
    grid-column-end: 13;
    grid-column-start: 1;
  }

  .box {
    align-items: flex-end;
    column-gap: $gap;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);

    &--imageLeft {
      .box-inner--image {
        grid-column-end: 7;
        grid-column-start: 1;
      }

      .box-inner--content {
        grid-column-end: 13;
        grid-column-start: 7;
      }
    }

    &--imageRight {
      .box-inner--content {
        grid-column-end: 7;
        grid-column-start: 1;
      }

      .box-inner--image {
        grid-column-end: 13;
        grid-column-start: 7;
      }
    }
  }

  .figure {
    margin: 0;

    &-caption {
      position: absolute;
    }
  }
}
