.menu {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $breakpoint-mobile-horizontal) {
    flex-flow: row wrap;
  }

  &-item {
    padding-bottom: $spacing-small;

    &:last-child {
      padding-bottom: 0;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      margin-right: $gap;
    }
  }

  &-link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}
