.menu {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  &-item {
    padding-bottom: $spacing-small;
  }

  &-link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}
