[is='flynt-block-collapse'] {
  margin: -50px auto;
  padding: 0 $spacing-small !important;

  @media (max-width: $breakpoint-tablet-horizontal) {
    margin: -25px auto;
    padding: 0 $spacing-small !important;
  }
}
