<div class="flyntComponent {{ options.theme }}" is="flynt-block-quote">
  <div class="container">
    <div class="content">
      <h1>{{ contentHtml|e('wp_kses_post') }}</h1>
    </div>
  </div>
</div>
